---
import Nav from "../components/Nav"
const { title } = Astro.props
import "@fontsource-variable/josefin-sans"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <meta title={title} />
  </head>
  <body>
    <main>
      <Nav client:load />
      <slot />
      <!-- All the different pages to be rendered here -->
      <footer class="mt-12 bg-black px-8 h-5 md:px-16 lg:px-32">
        <div></div>
      </footer>
    </main>
  </body>
</html>

<style>
  body {
    font-family: "Josefin Sans Variable", sans-serif;
  }
</style>
